a {
	padding: 15px;
	margin: 3px;
	font-size: 100%;
	background-color: #CCECEE; 
	color: #095d7e; 
	text-align:justify;
	width: 35%;
	border-radius: 50px;
}

a:hover {
	font-size: 150%;
	background-color: #E4FDFF; 
	color: #05B8FF; 
}


/* CSS Document */
/* All comments go between the front slash and asterisk symbols */

body {
	background-color: #14967F;   /* background color */
     /* text color for the entire page */
}


h1 {background-color: #095d7e;
	padding:7px;
	color: white;
	width: 100;
	font-size: 200%;
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
	text-align: center;
	border-radius: 50px;
}
h3 {background-color: #095d7e;
	padding:7px;
	color: #CCECEE;
	width: 90;
	font-size: 150%;
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
	text-align: center;
	border-radius: 50px;
}

h2 {background-color: white;
	padding:7px;
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
	text-align: center;
	border-radius: 50px;
}
/* styles for the "wrapper" div, notice that "wrapper" is preceded by "#" */
#wrapper {
	margin: 0 auto;
	width: 900px;
	text-align: center;
	/* centers wrapper */
}
	

/* styles for the "stepTitle" class, notice that "stepTitle" is preceded by a dot */
#header{
	padding:10px;
	text-align:center;
	background-color: #CCECEE;
	color: #095D7E;
	font-weight: bold;
	align-content: center;
	border-radius: 50px;
	box-shadow: 0 4px 8px 0 gray, 0 6px 20px 0 gray;
	 }
#subheader{
	padding:-1px;
	text-align:center;
	background-color: #e2fcd6;
	color: #14967F;
	align-self: center;
	width: 300px;
	vertical-align: top;
	border-radius: 50px;
	box-shadow: 0 4px 8px 0 gray, 0 6px 20px 0 gray;
}
.steph1{
	background-color: #095d7e;
	padding:7px;
	color: white;
	width: 100;
	font-size: 200%;
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
	text-align: center;
	border-radius: 50px;
 }
	
.steph2{ 
	background-color: white;
	padding:7px;
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
	text-align: center;
	border-radius: 50px;
}
.steph3{ 
	background-color: #095d7e;
	padding:3px;
	color: #CCECEE;
	width: 60;
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
	text-align: center;
	border-radius: 50px;
}
